body{
    text-align: center;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    width: 100px;
    height: 70%;
    object-fit: cover;
    border: 3px solid black;
    border-radius: 70px;
}

#hero{
    background-image: url(hudson-valley.webp);
    background-size: cover;
    background-position: center;
    color: white;
    padding: 10px 0 40px 0;
    text-shadow: 2px 2px 5px black;
}

#activities{
    background-color: #C48628;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.activity-container{
    display: flex;
    justify-content: space-around;
    width: 90%;
}

.activity{
    margin: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}

.avatar{
    width: 150px;
}

.card{
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background-color: #ddebf8;
    color: #2b2839;
    border-bottom: 6px solid #d8cefe;
}

.card-content {
    margin-top: 20px;
}



#logo{
    width: 50px;
    height: 50px;
    margin: 0 10px;
    border: none;
}

